#page {
    font-family: "Source Serif 4", serif;
    color: black;
}

#header {
    text-align: center;
    margin: auto;
    padding-bottom: 1em;
    max-width: 1440px;
}

#content {
    padding-top: 1em;
    text-align: center;
    max-width: 1440px;
    margin: auto;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block {
    /* max-width: 768px; */
    width: min(768px, 100vh);
    text-align: justify;
}

#logo img {
    width: min(40em, 90vw);
    /* max-height: 40em; */
}

#construction {
    text-align: center;
}

#construction img {
    max-width: 30em;
    max-height: 30em;
}

#logosmall img {
    max-width: 10em;
    max-height: 10em;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 1em;
    text-align: center;
    max-width: 1440px;
    margin: auto;
    text-align: center;
    color: gray;
    font-size: 0.9em;
}

#index {
    font-size: 1.3em;
    font-weight: bolder;
    padding-right: 0.5em;
}

.menu_item {
    padding-left: 1em;
    padding-right: 1em;
}

.menu_item:first-of-type {
    font-size: 1.4em;
    color: black !important;
    background-color: white !important;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: chocolate;
}

.selected {
    color: white;
    background-color: black;
}

.selected:hover {
    color: white;
    background-color: black;
    text-decoration: none;
}

.thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
}

.canvas {
    display: flex;
    justify-content: center;
    align-items: center;
    height: min(800px, 100vmin);
    width: min(800px, 100vmin);
}

.canvas img {
    width: 95%;
    height: 95%;
    object-fit: scale-down;
}

.sidenav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    max-height: 300px;
    min-height: 50px;
}

.thumbnail img {
    max-height: 280px;
    max-width: 280px;
    border: 1px solid lightgrey;
}

.sidenav img {
    width: 40px;
}

.thumbnail img:hover {
    max-height: 280px;
    max-width: 280px;
    border: 1px solid black;
}

.profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.pic-small {
    width: 30%;
}

.pic-medium {
    width: 50%;
}

.cent-wrap {
    width: 100%;
    text-align: center;
}

.pic-full {
    max-width: 760px;
    max-height: 760px;
    margin: auto

}

.pic-right {
    float: right;
    margin-left: 30px;
}

.pic-left {
    float: left;
    margin-right: 30px;
}

.prev_link {
    width: 30%;
    text-align: left;
    float: left;
}

.next_link {
    width: 30%;
    text-align: right;
    float: right;
}

.prev_link img {
    width: 40px;
    float: left;
}

.next_link img {
    width: 40px;
    float: right;
}

h1 {
    text-align: center;
    margin-top: 2em;
    /* padding-left: 20%;
    padding-right: 20%; */
}

.blog_prev_next {
    display: block;
    width: 100%;
}

.prev_link div {
    display: block;
    float: left;
}

.next_link div {
    display: block;
    float: right;
}

.ptitle {
    width: calc(100% - 50px);
}

.intro {
    font-style: italic;
}

.post_main img, .post_prev img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    float: left;
    margin-right: 30px;
}

.post_main a:last-of-type, .post_prev a:last-of-type {
    display: block;
    width: 100%;
    text-align: right;
    text-decoration: dotted;
}

.ilist * {
    line-height: 0.5em;
}

.ilist h4 {
    margin-left: 3%
}

.ilist p {
    margin-left: 6%
}

.switcher img {
    height: 1em;
    position: relative;
    top: 0.15em;
    border: 1px solid gray;
}